/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #b2b2b2;
}

.container{
    width: calc(50% + 20vw) ;
    max-width: 1200px;
    margin: 40px auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}



/* header - image and navbar settings*/
header{
    /* DEBUG:  */
}

header img{
    width: calc(70px + 2.5vw);
    margin-bottom: 20px;
}

header a{
    text-decoration: none;
    color: #b2b2b2;
    font-size: .8em;
    padding: 20px 10px;
}

header li:first-child{
    display: block;
}

header li{
    list-style-type: none;
    display: inline-block;
}




/* jumbotron */
.jumbotron{
    height: 50vh;
    max-height: 450px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.20);
}

.jumbo-text{
    position: absolute;
    width: calc(100% - 60vh);
    min-width: 50%;
    color: white;
    bottom: 13%;
    left: 5%;
}

.jumbo-text a{
    font-size: calc(.8em + 1vw);
    text-decoration: none;
    color: white;
}

.jumbotron:hover .jumbo-text a{
    text-decoration: underline;
}




/* sezione principale - titolo */
.title{
    /* DEBUG:  */
}

.title h1{
    color: black;
    font-size: calc(1em + 1vw);
}

.title h5{
    font-size: calc(.2em + 1vw);
}




/* sezione principale - posiziono colonne con float */
.aside{
    float: left;
    width: 20%;
    position: relative;
}

.central{
    float:left;
    width: calc(60% - 40px);
    margin: 0 20px;
}

.aside div:first-child, .central div:first-child{
    width: 100%;
    height: 25vh;
    max-height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#left{
    background-image: url(../img/img-1.jpg);
}
 #central-bg{
    background-image: url(../img/banner-2.jpg);
 }

#right{
    background-image: url(../img/img-3.jpg);
}

.row h5{
    font-size: calc(.2em + 1vw);
    color: black;
    margin: 10px 0;
}


/* footer */
footer{
    text-align: center;
    color: black;
    font-size: .8em;
}

footer div::after{
    content: "\f004";
    font-family: FontAwesome;
    color: red;
}
